[submodule "tools/libirecovery"]
	path = tools/libirecovery
	url = https://github.com/libimobiledevice/libirecovery.git
	ignore = all
	shallow = true
[submodule "tools/t8015_bootkit"]
	path = tools/t8015_bootkit
	url = https://github.com/dora2-iOS/t8015_bootkit.git
	ignore = all
	shallow = true
[submodule "tools/SSHRD_Script"]
	path = tools/SSHRD_Script
	url = https://github.com/verygenericname/SSHRD_Script.git
	ignore = all
	shallow = true
[submodule "tools/termz"]
	path = tools/termz
	url = https://github.com/kpwn/termz.git
	ignore = all
	shallow = true
[submodule "tools/libimobiledevice"]
	path = tools/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice.git
	ignore = all
	shallow = true
[submodule "tools/ibootim"]
	path = tools/ibootim
	url = https://github.com/realnp/ibootim.git
	ignore = all
	shallow = true
[submodule "tools/PongoOS"]
	path = tools/PongoOS
	url = https://github.com/lorenzoferron98/PongoOS.git
	ignore = all
	shallow = true
	fetchRecurseSubmodules = false
[submodule "tools/gaster-futurerestore"]
	path = tools/gaster-futurerestore
	url = https://github.com/Cryptiiiic/gaster.git
	ignore = all
	shallow = true
[submodule "tools/gaster"]
	path = tools/gaster
	url = https://github.com/0x7ff/gaster.git
	ignore = all
	shallow = true
[submodule "tools/libusbmuxd"]
	path = tools/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd.git
	ignore = all
	shallow = true
