[submodule "tools/gaster"]
	path = tools/gaster
	url = https://github.com/verygenericname/gaster.git
[submodule "tools/libirecovery"]
	path = tools/libirecovery
	url = https://github.com/libimobiledevice/libirecovery.git
